<div class="navbar-wagon">
  

  <!-- Right Navigation -->
  <div class="navbar-wagon-right">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <%= link_to 'Logout', destroy_user_session_path, method: 'delete', :class => 'btn btn-small btn-success' %>

    <% else %>


      <%= link_to 'Plant a tree', new_user_registration_path, :remote => true, 'data-toggle' => "modal", 'data-target' => "#myModal", method: 'get', :class => 'btn btn-small btn-success' %>

    <% end %>

  </div>
</div>

